<%= form_with(model: provider, local: true) do |form| %>
    <% @provider.errors.full_messages do |error| %>
        <div>
            <%= error %>
        </div>
    <% end %>

    <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :nit, style: "display: block" %>
        <%= form.text_field :nit %>
    </div>

    <div>
        <%= form.label :name_contact, style: "display: block" %>
        <%= form.text_field :name_contact %>
    </div>

    <div>
        <%= form.label :phone_contact, style: "display: block" %>
        <%= form.text_field :phone_contact %>
    </div>

    <div>
        <%= form.label :account_number, style: "display: block" %>
        <%= form.text_field :account_number %>
    </div>

    <div>
        <%= form.label :country_code, "Seleccionar pais" %>
        <%= form.collection_select :country_code, Country.all, :country_code, :country_name %>
    </div>

    <div>
        <%= form.label :department_code, "Seleccionar departamento" %>
        <%= form.collection_select :department_code, Department.all, :department_code, :department_name %>
    </div>

    <div>
        <%= form.label :city_code, "Seleccionar ciudad" %>
        <%= form.collection_select :city_code, City.all, :city_code, :city_name %>
    </div>

    <div>
        <%= form.label :address, style: "display: block" %>
        <%= form.text_field :address %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
