<h2><%= t('.title') %></h2>
<h1 class = "name"> <%= @provider.name %> </h1>
<p> <%= @provider.nit %> </p>
<p> <%= @provider.name_contact %> </p>
<p> <%= @provider.phone_contact %> </p>
<p> <%= @provider.account_number %> </p>

<%= link_to t('.edit'), edit_provider_path(@provider) %>

<%= link_to t('.delete'), provider_path(@provider), data: {
    turbo_method: 'delete',
    turbo_confirm: t('common.confirm')
} %>
