<%= link_to bank_path(bank), class: 'bank' do %>
    <h2 class = "name" >
        <%= bank.name %>
    </h2>
<% end %>

<p class = "address" >
    <%= bank.address %> 
</p>

<p class = "phone" >
    <%= bank.phone %> 
</p>

<p class = "email" >
    <%= bank.email %> 
</p>

<p class = "web_site" >
    <%= bank.web_site %> 
</p>

<p class = "provider_nit" >
    <%= bank.provider_nit %> 
</p>

<p class = "country_code" >
    <%= bank.country_code %> 
</p>

<p class = "department_code" >
    <%= bank.department_code %> 
</p>

<p class = "city_code" >
    <%= bank.city_code %> 
</p>

<p class = "type_account" >
    <%= bank.type_account %> 
</p>

<p class = "aditional_information" >
    <%= bank.aditional_information %> 
</p>